.cache/
.profile/
.cdp-profile/
.headless-profile/
.vscode-test/
.DS_Store
node_modules/
out/
dist
/coverage
/.nyc_output
demos/web-worker/vscode-pwa-dap.log
demos/web-worker/vscode-pwa-cdp.log
.dynamic-testWorkspace
**/test/**/*.actual
/testWorkspace/web/tmp
/testWorkspace/**/debug.log
/testWorkspace/webview/win/true/
*.cpuprofile
